# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.user
*.suo

# Node
node_modules/
dist/
*.local

# IDE
.vs/
.idea/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
